/*

!README.md
!.zshrc
!.p10k.zsh

!.config/
.config/*

!.config/fastfetch/
!.config/hypr/
!.config/kitty/
!.config/mako/
!.config/pipewire/
!.config/rmpc/
!.config/tofi/
!.config/waybar/
!.config/yadm/

!.config/tmux/
.config/tmux/plugins/

!punpun1.png
!walle.png


!/.gitignore

